*{
  box-sizing: border-box;
}
header{
  height: 200px;
  background-color: lightcyan;
  text-align: center;
}

.middle-section{
  width: 1000px;
  height: 400px;
  display: flex;
  justify-content: flex-start;
}

aside{
  width: 7000px;
  height: 400px;
  background-color: lightseagreen;
}

.image-section{
  width: 10000px;
  height: 400px;
  background-color: aliceblue;
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: flex-start;
}

footer{
  height: 100px;
  background-color: lime;
}